* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
}

ul {
    overflow: hidden;
    list-style: none;
    display: inline-block;
}

nav {
    background-color: rgb(87, 4, 4);
    position:sticky;
    top: 0;
    width: 100%;
    text-align:center; 
    height: 50px;
}

ul li {
    float: left;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #d6a214;
}

body {
    background-color: rgb(196, 0, 0);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    text-align: center;
    margin: auto;
    width: 100%;
}

.principal {
    padding-top: 20px;
    margin-top: 30px;
}

.full-width-image {
    min-width: 299px;
    max-width: 100%;
    width: 100%;
    min-height: 280px;
    height: 600px;
    object-fit: cover;
}

.croped {
    height: 300px;
    object-fit: none;
}

.size-x3 {
    font-size: 300%;
}

.footer {
    margin-top:auto;
}


footer
{
    margin-top:120px;
    width:100%;
    height:69px;
    background-color:rgb(8, 8, 8);
    bottom: 0%;
    position: relative;
}

.footer-links a {
    color: white;
}

.principal-text {
    text-align: center;
    margin: auto;
    width: 70%;
    padding: 10px;
}

.background-image {
    background-image: url("FondoContacto.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.background-image-usu {
    background-image: url("fondousuario.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

input[type=text],
select,
textarea {
    width: 30%;
    padding: 12px;
    border: 1px solid rgb(158, 78, 78);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
input[type=password],
select,
textarea {
    width: 30%;
    padding: 12px;
    border: 1px solid rgb(158, 78, 78);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #14c9d6;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border-radius: 16px;
    cursor: pointer;
}
input[type=text-contacto],
select,
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: content-box;
    margin-top: 10px;
    margin-bottom: 16px;
    resize: vertical
}
.galeria {
    display: grid;
    grid-template-areas:
        'foto1'
        'foto2'
        'foto3'
        'foto4'
        'foto5'
        'foto6';
    grid-template-columns: repeat(1, auto);
    align-content: stretch;
    gap: 10px;
    padding: 0.5vw;
    margin-top: 5vh;
}
@media only screen and (min-width: 800px) {
    .galeria {
        display: grid;
        grid-template-areas:
            'foto3 foto3 foto2 foto2 foto2 foto2'
            'foto3 foto3 foto4 foto1 foto1 foto1'
            'foto6 foto6 foto6 foto6 foto5 foto5';
        grid-template-columns: repeat(6, auto);
        align-content: stretch;
        gap: 10px;
        padding: 0.5vw;
    }
}

.galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto1 {
    grid-area: foto1;
}

.foto2 {
    grid-area: foto2;
}

.foto3 {
    grid-area: foto3;
}

.foto4 {
    grid-area: foto4;
}

.foto5 {
    grid-area: foto5;
}

.foto6 {
    grid-area: foto6;
}

.galeria>div {
    background-color: #464646;
}
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }